<launch>

	<group ns="roborescue">
		<node pkg="operator_pub" name="operator_pub" type="roborescue_node" />
		<node pkg="arduino_fwd" name="arduino_fwd" type="roborescue_node" />
	</group>

	<group ns="roborescue_debug">
		<node pkg="operator_pub" name="operator_pub" type="roborescue_node" />
		<node pkg="arduino_fwd" name="arduino_fwd" type="roborescue_node" />
	</group>

</launch>
